
.FilterInput__input {
  width: 120%;
  height: 60px;
  background-color: #757575;
  border-style: none;
  border-bottom: 2px solid #000000;
  font-size: 40px;
  font-weight: 100;
  outline: none;
  font-family: 'Roboto', sans-serif;
}