.PokeElm {
  background-color: #3f4449;
  color: #661f25;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.PokeElm p {
  font-family: 'Bungee Inline', cursive;
  font-size: 36px;
}