.PokeStats {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 30px;
  border-radius: 8px;
  font-family: 'Iceland', cursive;
}

.PokeStats__header {
  height: 20%;
}

.PokeStats__list {
  height: 80%;
  list-style: none;
  padding: 0;
  text-align: left;
}