.PokeDetails {
  background-color: rgb(90, 80, 77);
  color: rgb(241, 188, 52);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transform: scale(1.08);
  animation-name: scaleUp;
  animation-duration: 0.7s;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
.active {
  
}

.PokeName {
  height: 30%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PokeSkills {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(107, 99, 97);
  font-size: 20px;
  border-radius: 8px;
}


