.PokeDetails {
  background-color: #202020;
  color: #661f25;;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transform: scale(1.08);
  animation-name: scaleUp;
  animation-duration: 0.6s; 
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  /* padding: 20px; */
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

.PokeName {
  font-family: 'Bungee Inline', cursive;
  height: 30%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PokeSkills {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  background-color: #e0eeea;
  font-size: 20px;
  border-radius: 8px;
  font-family: 'Iceland', cursive;
}

.Abs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Abs:hover {
  opacity: 0.5;
}