.PokesGrid {
  display: grid;
  max-width: 80%;
  margin: auto;
  padding: 30px;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  list-style: none;
}
.Pagination {
  position: fixed; 
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 3px;
}

@media (max-width: 1700px) {
  .PokesGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1300px) {
  .PokesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .PokesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .PokesGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .Pagination {
    position: relative; 
    display: flex;
    justify-content: center;
  }
}